html {
  background: url("horizontal.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  padding: 16px;

  max-width: calc(100vw - 60px);
}

.text-section {
  margin: 10px 10px;
}

.bg-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  object-fit: cover;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .info-container {
    font-size: 40px;
    padding: 40px;
    max-width: calc(100vw - 120px);
  }
  .text-section {
    margin: 20px 10px;
  }

  html {
    background-image: url("vertical2.gif");
  }
}
