@font-face {
  font-family: "arialn";
  src: url("arialn.ttf") format("truetype");
}

html {
  background-color: black;
  color: white;
  font-family: "arialn";
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

section {
  position: relative;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  padding: 20px 10px;
}

.content {
  margin: 40px 40px;
  font-size: 1.3rem;
  overflow: hidden;
}

.scroll-arrow {
  position: absolute;
  bottom: 58px;
  left: calc(50vw - 30px);
  color: blue;
}

a {
  color: white;
  text-decoration: underline dotted #00ff00;
}

a:hover {
  /* text-decoration: underline; */
  background-color: #00ff00;
  color: black;
}

.trudy-link {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 20px;
  height: 120px;
  width: 120px;
  padding: 10px;
  background-color: #00ff00;
  border-radius: 200px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  color: black;
  text-decoration: none;

  /* transition: transform 90s; */
}

.trudy-link:hover {
  box-shadow: 0px 0px 32px 0px rgba(0, 255, 0, 0.57);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 255, 0, 0.57);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 255, 0, 0.57);
  cursor: pointer;
  text-decoration: none;

  /* transform: rotate(90000deg); */
}

.trudy-text {
  text-align: center;
  transform: rotate(24deg);
}

img {
  width: 70vw;
  max-height: calc(100vh - 320px);
  object-fit: contain;
  object-position: left;
}

.ursula-quote {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 300px;
}
.cite {
  float: right;
}

.new-work {
  /* padding: 2px; */
  color: #00ff00;
}

.navbar {
  position: absolute;
  top: -4px;
  right: 16px;
  font-size: 32px;
  background-color: blue;
  padding: 16px;
  padding-top: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  html {
    letter-spacing: -0.3px;
  }

  .content {
    width: initial;
    padding-left: 0px;
  }
  .scroll-arrow {
    bottom: 206px;
  }

  h1 {
    font-weight: 900;
  }

  img {
    width: calc(100vw - 32px);
  }

  .navbar {
    display: flex;
    top: 0px;
  }
  .navbar div {
    padding: 0px 6px;
  }
  section {
    padding-top: 64px;
    padding-left: 0px;
  }
  body {
    padding: 0px;
    margin: 0px;
  }
  .trudy-link {
    width: 100px;
    height: 100px;
  }
  .ursula-quote {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
